@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Black.WOFF");
  font-weight: 900; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-SemiBold.WOFF");
  font-weight: 600; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald[wght].WOFF"); }
/*
Flaticon icon font: Flaticon
Creation date: 01/07/2019 12:14
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flat-icon/Flaticon.eot");
  src: url("../fonts/flat-icon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flat-icon/Flaticon.woff2") format("woff2"), url("../fonts/flat-icon/Flaticon.woff") format("woff"), url("../fonts/flat-icon/Flaticon.ttf") format("truetype"), url("../fonts/flat-icon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flat-icon/Flaticon.svg") format("svg"); } }
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal; }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-tv:before {
  content: "\f100"; }

.flaticon-computer-tablet:before {
  content: "\f101"; }

.flaticon-phone:before {
  content: "\f102"; }

.flaticon-cloud-storage-download:before {
  content: "\f103"; }

.flaticon-remove-symbol:before {
  content: "\f104"; }

.flaticon-facebook-logo:before {
  content: "\f105"; }

.flaticon-twitter-logo-silhouette:before {
  content: "\f106"; }

.flaticon-instagram-logo:before {
  content: "\f107"; }

.flaticon-linkedin-logo:before {
  content: "\f108"; }

.flaticon-pinterest-social-logo:before {
  content: "\f109"; }

.flaticon-youtube-logo:before {
  content: "\f10a"; }

.flaticon-keyboard-right-arrow-button:before {
  content: "\f10b"; }

#header {
  background-color: #333333; }
  #header .header_panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.button {
  text-align: center;
  background-color: #e3207b;
  border-radius: 2px;
  padding: 16px 24px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .button:hover {
    background-color: #aa0c57;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Nunito";
    font-size: 16px; }

.section_header .header_name {
  padding: 0 0 12px; }
  .section_header .header_name h1 {
    font-family: "Oswald";
    letter-spacing: 16px;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section_header .header_name h1::before {
      content: '';
      background: #e3207b;
      width: 70px;
      height: 2px;
      position: absolute;
      bottom: 0; }
.section_header .header_desc {
  font-family: "Nunito";
  color: #999;
  font-size: 17.6px;
  padding: 0 0 16px;
  text-align: center;
  line-height: 30px; }

#social {
  background-color: #e3207b; }
  #social .social_panel_full ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #social .social_panel_full ul li {
      display: inline-block;
      padding: 25px 70px;
      text-align: center;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #social .social_panel_full ul li:hover {
        background-color: #aa0c57;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      #social .social_panel_full ul li a {
        text-decoration: none;
        color: #FFFFFF; }
        #social .social_panel_full ul li a i {
          font-size: 20px; }
