.p-100 {
  padding: 100px 0px; }

.p-50 {
  padding: 50px 0px; }

@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Nunito';
  src: url("../fonts/NunitoSans-Black.WOFF");
  font-weight: 900; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.WOFF");
  font-weight: 400; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-SemiBold.WOFF");
  font-weight: 600; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Bold.WOFF");
  font-weight: 700; }
@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-ExtraBold.WOFF");
  font-weight: 800; }
@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald[wght].WOFF"); }
/*
Flaticon icon font: Flaticon
Creation date: 01/07/2019 12:14
*/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flat-icon/Flaticon.eot");
  src: url("../fonts/flat-icon/Flaticon.eot") format("embedded-opentype"), url("../fonts/flat-icon/Flaticon.woff2") format("woff2"), url("../fonts/flat-icon/Flaticon.woff") format("woff"), url("../fonts/flat-icon/Flaticon.ttf") format("truetype"), url("../fonts/flat-icon/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flat-icon/Flaticon.svg") format("svg"); } }
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal; }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.flaticon-tv:before {
  content: "\f100"; }

.flaticon-computer-tablet:before {
  content: "\f101"; }

.flaticon-phone:before {
  content: "\f102"; }

.flaticon-cloud-storage-download:before {
  content: "\f103"; }

.flaticon-remove-symbol:before {
  content: "\f104"; }

.flaticon-facebook-logo:before {
  content: "\f105"; }

.flaticon-twitter-logo-silhouette:before {
  content: "\f106"; }

.flaticon-instagram-logo:before {
  content: "\f107"; }

.flaticon-linkedin-logo:before {
  content: "\f108"; }

.flaticon-pinterest-social-logo:before {
  content: "\f109"; }

.flaticon-youtube-logo:before {
  content: "\f10a"; }

.flaticon-keyboard-right-arrow-button:before {
  content: "\f10b"; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/flat-icon/icomoon.eot");
  src: url("../fonts/flat-icon/icomoon.eot") format("embedded-opentype"), url("../fonts/flat-icon/icomoon.ttf") format("truetype"), url("../fonts/flat-icon/icomoon.woff") format("woff"), url("../fonts/flat-icon/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-heart:before {
  content: "\e9da"; }

#header {
  background-color: #333333; }
  #header .header_panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    #header .header_panel .logo_side ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .header_panel .logo_side ul li {
        display: block;
        text-align: center; }
        #header .header_panel .logo_side ul li:last-child {
          padding: 20px 36px;
          margin-left: 20px;
          background-color: #222; }
        #header .header_panel .logo_side ul li a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6);
          font-family: "Open-Sans";
          font-size: 16px;
          letter-spacing: 1px; }
          #header .header_panel .logo_side ul li a span {
            margin-right: 5px; }
          #header .header_panel .logo_side ul li a img {
            height: 30px; }
    #header .header_panel .responsive_side ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #header .header_panel .responsive_side ul li {
        display: block;
        padding: 13px 30px;
        border-left: 1px solid #999; }
        #header .header_panel .responsive_side ul li:nth-child(4) {
          background-color: #7ac64d; }
          #header .header_panel .responsive_side ul li:nth-child(4) a {
            color: #FFFFFF; }
        #header .header_panel .responsive_side ul li a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6);
          font-size: 30px;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
          #header .header_panel .responsive_side ul li a:hover {
            color: #FFFFFF;
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease; }

@media (max-width: 768px) {
  .mobile-hidden {
    display: none !important; } }
#footer .footer_item {
  margin: 40px 0px 40px 0px; }
  #footer .footer_item .column_desc {
    color: #999;
    font-family: "Nunito";
    line-height: 30px;
    font-size: 17.6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    #footer .footer_item .column_desc ul {
      padding: 0px 50px 0px 0px; }
      #footer .footer_item .column_desc ul li {
        padding: 0px 0px 10px 0px; }
        #footer .footer_item .column_desc ul li a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.6);
          font-size: 18px;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
          #footer .footer_item .column_desc ul li a:hover {
            color: #FFFFFF;
            -webkit-transition: 0.3s all ease;
            transition: 0.3s all ease; }
    #footer .footer_item .column_desc input {
      padding: 15px 20px;
      outline: none;
      border: 1px solid white;
      border-radius: 2px;
      background-color: #222831;
      color: white;
      display: block; }
      #footer .footer_item .column_desc input::-webkit-input-placeholder {
        font-style: italic;
        font-size: 15px; }
      #footer .footer_item .column_desc input:-ms-input-placeholder {
        font-style: italic;
        font-size: 15px; }
      #footer .footer_item .column_desc input::-ms-input-placeholder {
        font-style: italic;
        font-size: 15px; }
      #footer .footer_item .column_desc input::placeholder {
        font-style: italic;
        font-size: 15px; }
    #footer .footer_item .column_desc input[type="submit"] {
      color: white;
      background-color: #e3207b;
      border-color: #e3207b;
      font-size: 15px; }
#footer .footer_signature {
  color: #999;
  font-family: "Nunito";
  line-height: 30px;
  font-size: 17.6px;
  text-align: center; }
  #footer .footer_signature span {
    color: red;
    margin-right: 5px;
    margin-left: 5px; }

@media (max-width: 768px) {
  .column_desc {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .column_desc input[type="text"] {
      width: 70%; }
    .column_desc ul {
      width: 100%; } }
@media (min-width: 768px) and (max-width: 991px) {
  .column_desc input[type="text"] {
    width: 70%; }
  .column_desc ul {
    width: 50%; } }
.button {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  background-color: #e3207b;
  border-radius: 2px;
  padding: 16px 24px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease; }
  .button:hover {
    background-color: #aa0c57;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .button a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Nunito";
    font-size: 16px; }

.djs_item {
  position: relative;
  margin-top: 50px; }
  .djs_item .djs_image {
    overflow: hidden; }
    .djs_item .djs_image img {
      width: 100%;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .djs_item:hover .djs_image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .djs_item:hover .overflow {
    opacity: 1;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
    .djs_item:hover .overflow ul {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
  .djs_item .overflow {
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(225, 32, 123, 0.7);
    text-align: center;
    color: #FFFFFF;
    font-family: "Nunito"; }
    .djs_item .overflow ul {
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease;
      line-height: 30px;
      text-align: center;
      padding: 20% 7% 0% 7%;
      -webkit-transform: translateY(50px);
              transform: translateY(50px); }
      .djs_item .overflow ul li {
        font-size: 18px;
        padding: 15px 0 0 0; }
        .djs_item .overflow ul li h1 {
          font-size: 25px; }
      .djs_item .overflow ul ul {
        padding: 0;
        -webkit-transform: none;
                transform: none; }
        .djs_item .overflow ul ul li a {
          color: #FFFFFF; }

.events_item {
  padding: 20px 5px; }
  .events_item .events_image img {
    width: 100%; }
  .events_item .events_desc {
    background-color: white;
    padding: 24px; }
    .events_item .events_desc ul {
      line-height: 25px;
      font-family: "Nunito"; }
      .events_item .events_desc ul li span {
        color: #999;
        font-size: 14px; }
      .events_item .events_desc ul li a {
        text-decoration: none;
        color: #e3207b;
        font-size: 20px;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .events_item .events_desc ul li a:hover {
          color: #aa0c57;
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }

.listerners_item {
  background-color: #FFFFFF;
  padding: 50px;
  margin: 50px 0px; }
  .listerners_item .listeners_image {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto; }
    .listerners_item .listeners_image img {
      width: 100%;
      border-radius: 100%; }
  .listerners_item .listeners_desc {
    line-height: 30px;
    padding: 15px 10px;
    text-align: center;
    color: #333333;
    font-family: "Nunito"; }
    .listerners_item .listeners_desc h1 {
      font-size: 22px;
      margin: 15px 0px; }
    .listerners_item .listeners_desc p {
      font-style: italic;
      font-size: 18px; }

.section_header .header_name {
  padding: 0 0 12px; }
  .section_header .header_name h1 {
    font-family: "Oswald";
    letter-spacing: 10px;
    font-size: 32px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section_header .header_name h1::before {
      content: '';
      background: #e3207b;
      width: 70px;
      height: 2px;
      position: absolute;
      bottom: 0; }
.section_header .header_desc {
  font-family: "Nunito";
  color: #999;
  font-size: 18.6px;
  padding: 0 0 16px;
  text-align: center;
  line-height: 30px;
  margin: 0 auto; }

#social {
  background-color: #e3207b; }
  #social .social_panel_full ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    #social .social_panel_full ul li {
      display: inline-block;
      padding: 25px 70px;
      text-align: center;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      #social .social_panel_full ul li:hover {
        background-color: #aa0c57;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
      #social .social_panel_full ul li a {
        text-decoration: none;
        color: #FFFFFF; }
        #social .social_panel_full ul li a i {
          font-size: 25px; }

.social_mini li {
  display: inline-block;
  padding: 0px 20px 0px 0px !important;
  text-align: center; }
  .social_mini li a {
    text-decoration: none; }
    .social_mini li a i {
      font-size: 17px; }

@media (max-width: 768px) {
  #social .social_panel_full ul li {
    padding: 25px !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  #social .social_panel_full ul li {
    padding: 25px 60px !important; } }
.navpanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .navpanel .logo {
    font-family: "Oswald";
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.03em;
    position: relative; }
    .navpanel .logo::after {
      content: '';
      width: 7px;
      height: 7px;
      background-color: red;
      position: absolute;
      right: -10px;
      bottom: 0px; }
  .navpanel .navmenu ul li {
    display: inline-block;
    padding: 10px 0px 0px 40px;
    position: relative; }
    .navpanel .navmenu ul li:first-child a {
      color: #FFFFFF; }
    .navpanel .navmenu ul li:nth-child(3):hover .submenu {
      opacity: 1;
      -webkit-transform: translateY(-35px);
              transform: translateY(-35px);
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .navpanel .navmenu ul li:nth-child(3)::after {
      content: '';
      border: solid rgba(255, 255, 255, 0.6);
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      position: relative;
      top: -2px;
      right: -10px; }
    .navpanel .navmenu ul li:hover::after {
      border-color: #FFFFFF;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    .navpanel .navmenu ul li .submenu {
      opacity: 0;
      background-color: #FFFFFF;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      position: absolute;
      line-height: 30px;
      top: 70px;
      padding: 10px 20px;
      border-radius: 7px; }
      .navpanel .navmenu ul li .submenu::after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 16px;
        border-color: transparent transparent #FFFFFF transparent;
        top: -12px;
        position: absolute;
        left: 20px; }
      .navpanel .navmenu ul li .submenu li {
        padding-left: 0;
        display: block; }
        .navpanel .navmenu ul li .submenu li:nth-child(4)::after {
          content: '';
          position: absolute;
          border: solid #999;
          border-width: 0 3px 3px 0;
          display: inline-block;
          padding: 3px;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          right: -10px;
          top: 10px; }
        .navpanel .navmenu ul li .submenu li:nth-child(4):hover .second_submenu {
          opacity: 1;
          -webkit-transform: translateY(-40px);
                  transform: translateY(-40px);
          -webkit-transition: 0.3s all ease;
          transition: 0.3s all ease; }
        .navpanel .navmenu ul li .submenu li a {
          color: #999; }
      .navpanel .navmenu ul li .submenu .second_submenu {
        position: absolute;
        opacity: 0;
        background-color: #FFFFFF;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        position: absolute;
        line-height: 30px;
        padding: 10px 40px 10px 20px;
        border-radius: 7px;
        right: -180px;
        bottom: -115px;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }
    .navpanel .navmenu ul li a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      font-family: "Nunito";
      font-size: 17.6px;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .navpanel .navmenu ul li a:hover {
        color: #FFFFFF;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease; }

@media (max-width: 991px) {
  .navpanel .navmenu {
    position: relative; }
    .navpanel .navmenu::after {
      content: "\e9bd";
      font-family: 'icomoon';
      color: #FFFFFF;
      position: absolute;
      top: 0;
      font-size: 40px;
      left: -60px; }
    .navpanel .navmenu ul {
      opacity: 0;
      position: fixed;
      width: 250px;
      height: 100vh;
      background-color: #FFFFFF;
      top: 60px;
      right: -300px;
      background-color: #FFFFFF;
      padding: 100px 20px;
      z-index: 2;
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
      .navpanel .navmenu ul li {
        padding: 25px 30px;
        display: block; }
        .navpanel .navmenu ul li:first-child a {
          color: #e3207b; }
        .navpanel .navmenu ul li a {
          color: #999; }
        .navpanel .navmenu ul li:nth-child(3)::after {
          display: none; }
        .navpanel .navmenu ul li .submenu {
          display: none; }
        .navpanel .navmenu ul li .second_submenu {
          display: none; }

  .show {
    opacity: 1 !important;
    right: 0 !important;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; } }
.item_title {
  position: absolute;
  color: white;
  left: 0;
  bottom: 0; }
  .item_title .title_type {
    padding: 8px 9px;
    background-color: #e3207b;
    font-family: "Oswald";
    font-size: 22px;
    font-weight: bolder;
    letter-spacing: .05em;
    position: absolute;
    top: -35px;
    left: 0; }
  .item_title .title_desc {
    font-family: "Nunito";
    background-color: black;
    padding: 0px 20px 0px 10px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: .15em; }

.streaming_watch .streaming_image {
  position: relative; }
  .streaming_watch .streaming_image img {
    width: 100%; }
  .streaming_watch .streaming_image .circle {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 45%;
    cursor: pointer; }
    .streaming_watch .streaming_image .circle::after {
      content: '';
      position: absolute;
      top: 36%;
      left: 40%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0px 10px 20px;
      border-color: transparent transparent transparent red; }

.column_header .header_name {
  padding: 0 0 12px; }
  .column_header .header_name h1 {
    font-family: "Oswald";
    letter-spacing: 3px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    position: relative;
    padding: 0 0 20px;
    margin: 0 0 28px; }
    .column_header .header_name h1::before {
      content: '';
      background: #e3207b;
      width: 70px;
      height: 2px;
      position: absolute;
      bottom: 0;
      width: 40px !important; }

.show_item {
  padding: 50px 0px 0px 0px; }
  .show_item:hover .item_image img {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  .show_item .item_image {
    overflow: hidden;
    max-height: 350px;
    position: relative; }
    .show_item .item_image img {
      width: 100%;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }

#podcast .show_item {
  padding: 25px 0px 0px 0px; }
  #podcast .show_item .item_title {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    #podcast .show_item .item_title .title_type {
      position: relative;
      top: 0;
      left: 0; }
#podcast .show_item_full {
  padding: 25px 25px 0px 0px;
  position: relative; }
  #podcast .show_item_full:hover .item_image img {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease; }
  #podcast .show_item_full .item_image {
    height: 750px;
    overflow: hidden; }
    #podcast .show_item_full .item_image img {
      width: 100%;
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
      -webkit-transition: 0.3s all ease;
      transition: 0.3s all ease; }
    #podcast .show_item_full .item_image .item_title {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content; }
      #podcast .show_item_full .item_image .item_title .title_type {
        position: relative;
        top: 0;
        left: 0; }

@media (max-width: 768px) {
  .show_item_full {
    padding: 25px 0px !important; }
    .show_item_full .item_image {
      max-height: 350px;
      overflow: hidden; }
      .show_item_full .item_image img {
        width: 100%; }
    .show_item_full .item_title {
      bottom: 25px; } }
@media (min-width: 768px) and (max-width: 991px) {
  .show_item_full {
    padding: 0px !important; }
    .show_item_full .item_image {
      max-height: 600px;
      overflow: hidden; }
      .show_item_full .item_image img {
        width: 100%; }
    .show_item_full .item_title {
      bottom: 20px; }

  .show_item {
    padding: 0px !important; }
    .show_item .item_image {
      max-height: 290px; }
    .show_item .item_title {
      bottom: -1px; } }
#intro {
  padding: 50px 0px 150px;
  background-repeat: no-repeat;
  background-size: cover; }

.intro_header {
  text-align: center;
  font-family: "Oswald";
  color: #FFFFFF;
  font-size: 64px;
  letter-spacing: 15px;
  padding: 100px 0px 50px;
  line-height: 100px;
  font-weight: bold; }

#footer, #djs, #podcast, #shows {
  background-color: #222831; }

#events, #listeners {
  background-color: #13171d; }

/*# sourceMappingURL=main.css.map */