.button{
    text-align: center;
    background-color: #e3207b;
    border-radius: 2px;
    padding: 6px 6px;
    display: flex;
    align-items: center; 
    transition: .3s all ease;
    &:hover{
        background-color: #aa0c57;
        transition: .3s all ease;
    }     
    a{
        text-decoration: none;
        color: $color-section_header_navitem-hover; //white
        
        font-family: $font-navmenu-item_text_buttons_person-text_events-desc;
        font-size:6px;
        
    }     

}