#intro{
   padding: 50px 0px 200px;
    
}

.intro_header{
    text-align: center;
    font-family: $font-navmenu-dejee_section-header_events-header;
    color:$color-section_header_navitem-hover;
    font-size:64px;

    letter-spacing: 15px;
    padding: 150px 180px 50px;
    line-height: 100px;
    font-weight: bold;
}