.listerners_item{
    background-color: $color-section_header_navitem-hover;
    padding: 50px;
    margin: 50px 0px;
    
    .listeners_image{
        width: 150px;
        height:150px;
        border-radius: 100%;
        margin:0 auto;
        img{
            width:100%;
            border-radius: 100%;
        }
    }
    .listeners_desc{
        line-height:30px;
        padding: 15px 10px;
        text-align: center;
        color: $color-matte;
        font-family: $font-navmenu-item_text_buttons_person-text_events-desc;
        h1{
            font-size: 22px;
            margin: 15px 0px;   
        }
        p{
            font-style: italic;
            font-size:18px;
        }
    }
}