#podcast{
    .show_item{
        padding: 25px 0px 0px 0px;
        .item_image{
            
        }
        .item_title{
            width: max-content;
            .title_type{
                position: relative;
                top:0;
                left:0;
            }            
        }
    }
    .show_item_full{
        padding:25px 25px 0px 0px;
        position: relative;
        &:hover{
            .item_image{
                img{
                    transform: scale(1);
                    transition: $transition-hover;
                }
            }
        }
        .item_image{
            height: 750px;
            overflow: hidden;
            img{
                width:100%;
                transform: scale(1.15);
                transition: $transition-hover;
            }
            .item_title{
                width: max-content;
                .title_type{
                    position: relative;
                    top:0;
                    left:0;
                }            
            }
        }
    } 
            
           
            
    }
