//Color vairables.
$color-black: rgba(0, 0, 0, 0);
$color-pink: #e3207b;
$color-black-light: #222831;
$color-black-dark:#14181d;
$color-white: #fff;

//Sizes.
$size-wrapper: 1140px;

//Border radius sizes.
$border-radius-button:5px;
