.djs_item{
    position:relative;
    .djs_image{
        img{
            width: 100%;
        }
    }
    .overflow{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background-color: rgba(225, 32, 123, 0.7);
        text-align: center;
        color:$color-section_header_navitem-hover;
        font-family: $font-navmenu-item_text_buttons_person-text_events-desc;
        ul{
            line-height: 30px;
            li{

            }
        }
    }
}