//FLATICON variables
$font-Flaticon-tv: "\f100";
$font-Flaticon-computer-tablet: "\f101";
$font-Flaticon-phone: "\f102";
$font-Flaticon-cloud-storage-download: "\f103";
$font-Flaticon-remove-symbol: "\f104";
$font-Flaticon-facebook-logo: "\f105";
$font-Flaticon-twitter-logo-silhouette: "\f106";
$font-Flaticon-instagram-logo: "\f107";
$font-Flaticon-linkedin-logo: "\f108";
$font-Flaticon-pinterest-social-logo: "\f109";
$font-Flaticon-youtube-logo: "\f10a";
$font-Flaticon-keyboard-right-arrow-button: "\f10b";

