//FLATICON variables
$font-Flaticon-tv: "\f100";
$font-Flaticon-computer-tablet: "\f101";
$font-Flaticon-phone: "\f102";
$font-Flaticon-cloud-storage-download: "\f103";
$font-Flaticon-remove-symbol: "\f104";
$font-Flaticon-facebook-logo: "\f105";
$font-Flaticon-twitter-logo-silhouette: "\f106";
$font-Flaticon-instagram-logo: "\f107";
$font-Flaticon-linkedin-logo: "\f108";
$font-Flaticon-pinterest-social-logo: "\f109";
$font-Flaticon-youtube-logo: "\f10a";
$font-Flaticon-keyboard-right-arrow-button: "\f10b";

//COLORS
$color-green: #7ac64d;
$color-pink:#e3207b;
$color-matte:#333333;
$color-dark:#222;
$color-text: #999;
$color-background:#222831;
$color-section_header_navitem-hover:#FFFFFF;
$color-navmenu_item: rgba(255,255,255,0.6);

//FONTS TYPE
$font-header_dejee: 'Open-Sans';
$font-navmenu-dejee_section-header_events-header: 'Oswald';
$font-navmenu-item_text_buttons_person-text_events-desc: 'Nunito';


