@font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-Regular.WOFF');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-Bold.WOFF');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-ExtraBold.WOFF');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/NunitoSans-Black.WOFF');
    font-weight: 900;
  }

  @font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Regular.WOFF');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-SemiBold.WOFF');
    font-weight: 600;
  }

  @font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-Bold.WOFF');
    font-weight: 700;
  }

  @font-face {
    font-family: 'Open-Sans';
    src: url('../fonts/OpenSans-ExtraBold.WOFF');
    font-weight: 800;
  }

  @font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald[wght].WOFF');    
  }